.todoItem {
  
    &-row {
         display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  border-radius: 5px;
  width: 90%;
  padding: 5px;
  margin-top: 5px;
  	overflow: hidden;
    }

&-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
}