.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 15%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px;
  &-player {
    position: absolute;
     left: 50%;
     transform: translateX(-50%);
  }
  &-expand {
    font-size: 30px;
    // background: transparent;
  }
}