.todoForm  {
    display: flex;
    &-input {
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(17, 122, 255, 1);
  outline: none;
  width: 100%;

    }
     &-button {
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(17, 122, 255, 1) 0%,
    rgba(20, 159, 255, 1) 100%
  );
  color: white;
  text-transform: capitalize;
    }
}