.rainButton {
    position: absolute;
  z-index: 10;
  right: 0%;
  top: 12%;
  width: 140px;
  height: 100px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
    &-icon {
        background: transparent;
    //       position: relative;
    // top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    }
    @include maxw(768px) {
   &-icon {
    display: none;
   }
  }

}